<!-- detail -->
{% extends 'base.html' %}
{% block bodyblock %}
<div class="row">
<div class="col-md-6 col-md-offset-1">
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'products:update' pk=product.pk %}">
        Update
        </a>
        <a class="btn btn-danger" href="{% url 'products:delete' pk=product.pk %}">
        Delete
        </a>
    {% endif %}
    <h2>{{ product.product_name }}</h2>
    <h6>Category : <em>{{ product.category }}</em></h6>
<img src="{{ product.image.url }}" alt="..." height="300px" width="300px">
<br><br>

    {% if product.tags %}
 <h6>Tags :
    <ul style="list-style-type: none;display: inline-block">
    {% for tag in product.tags.all %}
        <li  style='display: inline-block; border: 1px solid black; background: black; color: coral;padding:0 5px 0 5px'><h6>{{tag}}</h6></li>
    {% endfor %}
    </ul>
   </h6>
{% endif %}
</div>
<div class="col-md-6 col-md-offset-1">
<h4>Description</h4><br>
<h5>{{ product.description }}</h5>
</div>
</div>
{% endblock %}